header {
    background-color: #333; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .navBar {
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff; /* Set your desired link color */
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #ffd700; /* Set your desired hover color */
  }
  
  hr {
    border: 1px solid #ddd;
    margin-top: 20px;
  }
  