.MyComponent{
    display: flex;
    flex-direction: column;
    margin: 2px;
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    border-style: solid;
  border-color: rgb(129, 129, 129);
  margin: 7px;
}
.name{
    background-color: rgb(255, 243, 226);
    padding-left: 15px;
    padding-bottom: 5px;
    max-width: fit-content;
    padding: 20px;
    border-radius: 50%;
}
.age{
    background-color: rgb(255, 223, 178);
    padding-left: 15px;
    padding-bottom: 5px;
    max-width: fit-content;
    padding: 20px;
    border-radius: 50%;
}
.isEmployed{
    background-color: rgb(165, 196, 254);
    padding-left: 15px;
    padding-bottom: 5px;
    max-width: fit-content;
    padding: 20px;
    border-radius: 50%;
}